<footer class="footer">
  <small>
    <%= t".footer_html", link: link_to(t(".footer_link_content"), Settings.link.home), link_author: link_to(t(".author_link"), Settings.link.link_author) %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".footer_about"), about_path %></li>
      <li><%= link_to t(".footer_contact"), contact_path %></li>
      <li><%= link_to t(".footer_news"), Settings.link.link_author %></li>
    </ul>
  </nav>
</footer>
