/* mixins, variables, etc. */
$purple: #f9f9;
$gray-light: #777;
$gray-medium-light: #eaeaea;
$gray: #555;
$gray-darker: #222;
$white: #fff;
$red: red;
$gray-light-1: #bbb;
$lightgray: #D3D3D3;
$gray-91: #e8e8e8
